<div class='{{@section-type}}-card {{@contact-type}}-card'>
  {{! template-lint-disable no-curly-component-invocation }}
  <h3 class='contacts-card-head'>{{@contact-type}} Contacts</h3>
  <p class="{{@contact-type}}-text">
    <span>Total Contacts :</span>
      <span class="{{@contact-type}}-value">{{@total}}</span>
  </p>
</div>